output2/
SmallSample/output/
SmallSample/*.log
SmallSample/*.zip
SmallSample/_MACOSX
UsualSample/_MACOSX
UsualSample/log/*.log
UsualSample/output
UsualSample/output1
UsualSample/output2
UsualSample/output3
UsualSample/*.log
UsualSample/*.json
UsualSample/*.txt
SmallSample/*.txt
SmallSample/*.json